argcomplete==1.10.3
ipython==8.20.0
google-generativeai==0.3.2
google==3.0.0
tk
asttokens==2.4.1
beautifulsoup4==4.8.2
cachetools==5.3.2
cargo==0.3
certifi==2023.11.17
chardet==3.0.4
charset-normalizer==3.3.2
colorama==0.4.6
compressed_rtf==1.0.6
decorator==5.1.1
docx==0.2.4
docx2txt==0.8
ebcdic==1.1.1
executing==2.0.1
extract-msg==0.28.7
google==3.0.0
google-ai-generativelanguage==0.4.0
google-api-core==2.15.0
google-auth==2.26.2
googleapis-common-protos==1.62.0
grpcio==1.60.0
grpcio-status==1.60.0
idna==3.6
IMAPClient==2.1.0
jedi==0.19.1
lxml==5.1.0
matplotlib-inline==0.1.6
olefile==0.47
parso==0.8.3
pdfminer.six==20191110
pillow==10.2.0
pip==23.3.2
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.25.2
pure-eval==0.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycryptodome==3.20.0
Pygments==2.17.2
PyPDF2==3.0.1
python-docx==1.1.0
python-pptx==0.6.23
requests==2.31.0
rsa==4.9
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.5
SpeechRecognition==3.8.1
stack-data==0.6.3
textract==1.6.5
tqdm==4.66.1
traitlets==5.14.1
typing_extensions==4.9.0
tzdata==2023.4
tzlocal==5.2
urllib3==2.1.0
wcwidth==0.2.13
xlrd==1.2.0
XlsxWriter==3.1.9